<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true"
         bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="app">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
